@import "tailwindcss";
@source "../src";


@theme {
  --font-smooch: var(--font-smooch);
  --font-inter: var(--font-inter);
  --font-dm-sans: var(--font-dm-sans);

  --color-gradient-background: #551622;
  --color-color-bg: #1B0309;
  --color-gradient-background-1: #faf9f7;
  --color-gradient-background-2: #f2f2f2;
  --color-gradient-background-3: #43424230;

  /* spin background */
  --color-spin-background: rgba(255, 255, 255, 0.9);

  --color-text-white: rgb(255 255 255 / 1.0);
  --color-text: rgb(227 221 220 / 1.0);
  --color-text-secondary: #0A0A0A;
  --color-text-tripple: #434242;
  --color-text-quara: #0a0a0a99;

  --color-highlight: rgb(235 241 204 / 1.0);


  --color-secondary-button-text: rgb(67 66 66 / 1.0);

  --color-secondary-button: #EAE5D9;

  /* line border */
  --color-line-and-border: rgb(45 20 27 / 1.0);

  /* button */
  --color-secondary-button-hover-v1: #EBF1CC;
  --color-secondary-button-v1: #702432;
  --color-button-text-1: #E3DDDC;

}


.dark {
  --color-gradient-background: #113437;
  --color-color-bg: #113437;
  --color-gradient-background-1: #0c1515;
  --color-gradient-background-2: #2a3336;
  --color-gradient-background-3: #FFFFFF66;

  /* spin background */
  --color-spin-background: rgba(255, 255, 255, 0.15);

  --color-text: rgb(255 255 255 / 1.0);
  --color-highlight: rgb(235 241 204 / 1.0);
  --color-text-tripple: #e3dddc;
  --color-text-quara: #242c2c;


  /* line border */
  --color-line-and-border: rgb(13 43 46 / 1.0);

  /* button */
  --color-secondary-button-hover-v1: #dbd4c6;
  --color-secondary-button-v1: #EAE5D9;
  --color-button-text-1: #434242;

}

.container-v2 {
  padding-left: 32px;
  padding-right: 32px;
  min-width: 100%;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}